# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
botconfig.json
package.json
package-lock.json
Procfile
public
views

# Docker
Dockerfile
docker-compose.yml
